.square {
  width: 70px;
  height: 70px;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin: 2px;
  cursor: pointer;
}